<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://kit.fontawesome.com/c45d654603.js"
            crossorigin="anonymous"
        ></script>
        <title>Home</title>
    </head>
    <body class="h-full">
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-4xl text-center">
                    <p
                        class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
                    >
                        {{ username }} you have to choose
                    </p>
                </div>
                <p
                    class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600"
                >
                    The fate of the world depends on you, don't be an idiot.
                </p>

                <div
                    class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3"
                >
                    <!-- aca empieza un card -->
                    <a href="{{url_for('game', desicion='piedra')}}">
                        <div
                            class="rounded-3xl p-8 xl:p-10 ring-2 ring-gray-200 group hover:ring-[#28B4E5]"
                        >
                            <div
                                class="flex items-center justify-between gap-x-4"
                            >
                                <h3
                                    id="tier-freelancer"
                                    class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-[#28B4E5]"
                                >
                                    Piedra
                                </h3>
                            </div>
                            <p class="mt-4 text-sm leading-6 text-gray-600">
                                It's not crack, but it's a rock.
                            </p>
                            <p class="mt-6 flex justify-center gap-x-1">
                                <!-- Price, update based on frequency toggle state -->
                                <i
                                    class="fa-solid fa-hand-fist text-[9.6em] group-hover:text-[#28B4E5]"
                                ></i>
                                <!-- Payment frequency, update based on frequency toggle state -->
                            </p>
                        </div>
                    </a>

                    <!-- aca termina un card -->
                    <a href="{{url_for('game', desicion='papel')}}">
                        <div
                            class="rounded-3xl p-8 xl:p-10 ring-2 ring-gray-200 group hover:ring-[#28B4E5]"
                        >
                            <div
                                class="flex items-center justify-between gap-x-4"
                            >
                                <h3
                                    id="tier-freelancer"
                                    class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-[#28B4E5]"
                                >
                                    Papel
                                </h3>
                            </div>
                            <p class="mt-4 text-sm leading-6 text-gray-600">
                                Not suitable for wiping your ass.
                            </p>
                            <p class="mt-6 flex justify-center gap-x-1">
                                <!-- Price, update based on frequency toggle state -->
                                <i
                                    class="fa-solid fa-hand text-[9.6em] group-hover:text-[#28B4E5]"
                                ></i>
                                <!-- Payment frequency, update based on frequency toggle state -->
                            </p>
                        </div>
                    </a>

                    <a href="{{url_for('game', desicion='tijera')}}">
                        <div
                            class="rounded-3xl p-8 xl:p-10 ring-2 ring-gray-200 group hover:ring-[#28B4E5]"
                        >
                            <div
                                class="flex items-center justify-between gap-x-4"
                            >
                                <h3
                                    id="tier-freelancer"
                                    class="text-lg font-semibold leading-8 text-gray-900 group-hover:text-[#28B4E5]"
                                >
                                    Tijera
                                </h3>
                            </div>
                            <p class="mt-4 text-sm leading-6 text-gray-600">
                                To cut off the anus face you're wearing.
                            </p>
                            <p class="mt-6 flex justify-center gap-x-1">
                                <!-- Price, update based on frequency toggle state -->
                                <i
                                    class="fa-solid fa-hand-scissors text-[9.6em] group-hover:text-[#28B4E5]"
                                ></i>
                                <!-- Payment frequency, update based on frequency toggle state -->
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
